@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.edit-join {
    display: flex;
  }
  
  .org-name {
    margin-left: 30px;
    font-size: 40px;
  }
  
  .org-name:hover {
    cursor: pointer;
    color: #2e76cf;
  }
  
  .org-edit {
    font-size: 24px;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  .org-edit:hover {
    cursor: pointer;
    color: orange;
  }
  
  .org {
    margin: 50px auto;
    width: 900px;
    padding: 10px;
    box-shadow: rgba(30, 144, 255) 0px 1px 4px, rgb(30, 144, 255) 0px 0px 0px 3px;
    border-radius: 5px;
  }
  
  .orgslist {
    width: 950px;
    margin: 0 auto;
  }

  .logout:hover {
    cursor: pointer;
    color: #2e76cf;

  }
  .logout {
    margin-right: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 30px;
  }