@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.login-form {
  width: 350px;
  height: 70%;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.input-container {
  width: 100%;
  display: flex;
  margin: auto;
}
.input-container label {
  margin-top: 23px;
  margin-right: 10px
}

#button:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}


.input {
  margin: 2rem 1rem;
  width: 60%;
}
.forgot-password-div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container p {
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 630px) {
  .login-form {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .login-form {
    width: 300px;
  }

  .admin-login-title {
    margin-bottom: 30px;
  }
}
